{% comment %}
# Copyright 2009 - Participatory Culture Foundation
# 
# This file is part of djvideo.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
# 
# THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
# IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
# OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
# IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
# NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
# THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
{% endcomment %}
<div id="flowplayer-{{ hash }}" style="width:{{ width }}px;height:{{ height }}px">
{% if poster and not autoplay %}<img src="{{ poster }}" />{% endif %}
</div>
<script src="{{ settings.FLOWPLAYER_JS_URL }}" type="text/javascript"></script>
<script type="text/javascript">
flowplayer("flowplayer-{{ hash }}", {
    src: "{{ settings.FLOWPLAYER_SWF_URL }}",
    version: [9, 115],
    onFail: function()  {
        document.getElementById("flowplayer-{{ hash }}").innerHTML = "{% filter escapejs %}{% include "djvideo/quicktime.html" %}{% endfilter %}"
    }}, {
        clip: {
            url: "{{ url }}",
            autoPlay: {% if autoplay or poster %}true{% else %}false{% endif %},
        },
        {% if settings.FLOWPLAYER_CONTROLS_URL %}
        plugins: {
            controls: {
                url: "{{ settings.FLOWPLAYER_CONTROLS_URL }}",
            }
        },{% endif %}
  });
</script>
