<object type="application/x-shockwave-flash" id="kdp3" name="kdp3" class="player" data="http://www.kaltura.com/index.php/kwidget/cache_st/1286380015/wid/_{{ partner_id }}/uiconf_id/1913582/" width="{{ width }}" height="{{ height }}">
    <param name="quality" value="best">
    <param name="wmode" value="opaque">
    <param name="allowfullscreen" value="true">
    <param name="allowscriptaccess" value="always">
    <param name="flashvars" value="autoPlay=false&amp;entryId={{ entry_id }}&amp;sourceType=entryId&amp;widgetId=_{{ partner_id }}&amp;partnerId={{ partner_id }}&amp;host=www.kaltura.com&amp;externalInterfaceDisabled=false">
</object>