<object height="15" width="400" align="middle" id="xspf_player" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
  <param value="sameDomain" name="allowScriptAccess"/>
  <param value="{{ settings.XSPF_PLAYER_URL }}?song_url={{ url|urlencode }}&song_title={{ title|urlencode }}{% if autoplay %}&autoplay=1{% endif %}" name="movie"/>
  <param value="high" name="quality"/>
  <param value="#e6e6e6" name="bgcolor"/>
  <embed height="15" width="400" align="middle" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="sameDomain" name="xspf_player" bgcolor="#e6e6e6" quality="high" src="{{ settings.XSPF_PLAYER_URL }}?song_url={{ url|urlencode }}&song_title={{ title|default:url|urlencode }}{% if autoplay %}&autoplay=1{% endif %}"/>
</object>
